.item1 {
    grid-area: header;
    background-color: green;
    height: 135px;
}

.item2 {
    grid-area: menu;
     position: relative;
    z-index: 2;
}

.item3 {
    grid-area: main;
    color: green;
    position: relative;
    top: 0px;
    width: 40%;
    top: 10%;
    left: 20%;
    border-radius: 100px;
    background-color: green;    
    position: relative;
    margin: 5px 0px;
    padding: 30px;
    
}


.item4 {
    grid-area: footer;
    margin-top: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
}

/* .grid-container>div {
    
    text-align: center;
    padding: 0.1px 0;
    font-size: 30px; 
}*/
body{
    margin: 0;
    background-color: lightgrey;
}
#topo{
    position: relative;
    left: 0.3px;
    top: -217px;
    z-index: 0;
}
#menu {
    position: relative;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea,
input[type=password],
input[type=email],
input[type=tel],
input[type=date],
input[type=url] {
    width: 100%;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
    resize: vertical;
    color: green;
    background-color: #ccc;
}
textarea{
    resize: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit],
input[type=reset] {
    background-color: #4CAF50;
    width: 25%;
    color: white;
    padding: 12px 20px;
    margin: 2px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    position: relative;
    left: -25%;
   
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #45a049;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;    
}
fieldset{
    color: green;
    font-weight: bold;
    border-radius: 10px;
}   

p{
    color: white;
}
/* unvisited link */

a:link {
    color: white;
    font-weight: bold;
}


/* visited link */

a:visited {
    color: #00FF00;
}


/* mouse over link */

a:hover {
    color: lightgreen;
}


/* selected link */

a:active {
    color: #0000FF;
}